h2{
        font-size: 20px;
        font-family: Verdana, Arial, Helvetica, sans-sarjf;
        color: #333366;
        text-align: canter;
       /*background-color: skyblue;*/  
         background-image: url(https://img.freepik.com/premium-photo/abstract-light-yellow-background_146836-96.jpg);
         background-size: 100%
       }
h3{
        font-size: 15px;
        font-family: Verdana, Arial, Helvetica, sans-sarjf;
        color: violet;
        text-align: left;
       /*background-color: royalblue;*/
        background-image: url(https://avatanplus.com/files/resources/mid/5a2baa959d38e1603a92588c.jpg); 
         background-size: 50%
      }
      
  h1 {
    font-size: 20px;
    font-family: Magnoliophyta;            
    text-align: center;
    background-color: #3A6BFD;
   }             
